<!--<app-hello></app-hello>-->
<!--<p>paragraphe le l'app component</p>-->

<!--<app-chrono></app-chrono>-->

<!--@for (product of products; track product.nom) {-->
<!--  <app-product [product]="product"-->
<!--               (onDelete)="deleteHandler($event)">-->
<!--    {{ product.description }}-->
<!--    <ng-template #sub>-->
<!--      test 1234-->
<!--    </ng-template>-->
<!--  </app-product>-->
<!--}-->

<header>{{ nbItems() }} éléments dans le panier</header>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
    <li><a routerLink="/courses" routerLinkActive="active">Liste de courses</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  My footer
</footer>

<p-toast></p-toast>
